<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="error-msg">
    
      <%=resource.errors.full_messages_for(attribute).join(" and ")%>
    
  </div>
<% end %>
