<div class="alert-msg">
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>
</div>
<div class="notice-msg">
  <% if notice %>
    <p class="notice"><%= notice %></p> 
  <% end %>
</div>