.homepage {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #BE263B;
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-item {
  margin-top: 10px;
}

.middle-item {
  margin-top: 300px;
}

.buttom-item {
  margin-top: 80px;
}

.left-item2-channel img:active,
.middle-item img:active,
.buttom-item:active{
  box-shadow: 5px 5px 10px black;
}

.left-section {
  flex: 4;
  display: flex;
  flex-direction: column;
}

.left-item1 {
  flex: 2.3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.left-item1-chat {
  color: #BE263B;
  font-weight: 600;
  position: absolute;
  left: 10px;
  top: 20px;
  font-size: 20px;
}

.left-item1-avatar img {
  height: 90px;
  width: 90px;
  border-radius: 40px;
}

.left-item1-name {
  color: gray;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.left-item2 {
  flex: 1.6;
  position: relative;
}

.add-new1{
  position: absolute;
  right: 5px;
  top: 0;
}

.left-item2-channels{
  color: #736D6D;
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
}

.left-item2-channel{
 display: flex;
 max-width: 420px;
 overflow-x: scroll;
 align-items: center;
 height: 85%;
}

.group-lists {
  margin-left: 10px;
  text-align: center;
}

.group-name {
  color: #6c6868;
  font-size: 17px;
}

.left-item2-channel img {
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.left-item3 {
  flex: 1;
  position: relative;
}

.left-item3-chats {
  color: #736D6D;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
}

.left-item3-search input[type="text"]{
  border-radius: 20px;
  border: none;
  box-shadow: 10px 10px 10px gray;
  padding: 10px;
	width: 90%;
  font-size: 18px;
  color: rgb(43, 41, 41);
  font-weight: 500;
}

.left-item3-search button {
  position: relative;
  left: 156px;
  bottom: 32px;
  background-color: white;
  border: none;
  border-radius: 20px;
}

.left-item3-search button:active {
  box-shadow: 10px 10px 10px gray;
}

.left-item4 {
  flex: 5;
  overflow-y: scroll;
}

.left-item4-all {
  color: #736D6D;
  font-size: 20px;
  font-weight: 400;
  margin-left: 10px;
}

.user-search,
.conversation {
  display: flex;
  margin: 10px;
}

.user-search-avatar img,
.left-item4-avatar img {
  height: 50px;
  width: 50px;
  border-radius: 25px;
}

.user-search-content,
.left-item4-content {
  padding-left: 10px;
  padding-top: 5px;
}

.user-search-name,
.left-item4-name {
  color: rgb(65, 61, 61);
  font-weight: 600;
}

.user-search-email,
.left-item4-msg {
  width: 300px;
  color: rgb(87, 83, 83);
  font-size: 14px;
  margin-top: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.middle-section {
  background-color: whitesmoke;
  flex: 8;
}

.middle-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #736D6D;
}

.right-section {
  background-color: yellow;
  flex: 4;
}