body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh; 
	
	background-color: #f2f2f2;
}



.signup-container {
	display: flex;
	position: relative;
	width: 768px;
	height: 792px;
	margin: 144px 177px;
	
	background-color: white;
	
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.main-text{
	flex:0.5
}

.image-container {
	position: absolute;
	width: 252px;
	height: 266.73px;
	left: 469px;
	top: 245px;
	
	
}

.image-container img{
	width:100%;
}
.bizz {
	display: inline-block;
	padding: 5px 10px;
	background-color: #BE263B;
	color: white;
	border-radius: 20px;
}
  
.chat {
	color: #BE263B;
}
  
.bizz-chat {
	font-size: 24px;
}

form {
	background-color: #ffffff;
	padding: 30px;
	
	text-align: center;
    
}


input[type="text"],
input[type="email"],
input[type="password"] {
	display: block;
	margin: 10px 0;
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 16px;
	box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
background-color: rgba(190, 38, 59, 0.02);
color:grey;
}

.radio-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}

input[type="radio"] {
	display: inline-block;
	margin: 0 5px;
	border: none;
}

input[type="submit"] {
	background-color: #BE263B;
	color: #fff;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	margin-top: 10px;
    width: 100%;
    margin-top: 30px;
}

label {
	display: inline-block;
	margin: 10px 0;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	width: 100%;
  margin-bottom: 0px; 
}
